@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    /* border: 4px solid lime; */
    /* box-sizing: border-box; */
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    color:#F9FAF8;
    font-size: 24px;
    padding-top: 20px;
    background: #1F2937;
    
    
}
.logo{
    padding-left: 100px;
}


.header_links a {
    color:#E5E7EB;
    text-decoration: none;
}

.header_links {
    
    display: flex;
    list-style: none;
    margin-right: 200px;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB;
}
.introsection{
    display: flex;
    gap: 150px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    
    padding-bottom: 100px;
    color: #F9FAF8;
    background: #1F2937;
}

.introwrap{
    /* border: 4px solid lime; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
}

.introwrap h2{
    margin-top: 100px;
    max-width: 400px;
    font-size: 48px;
    font-weight: bolder;
}

.introwrap p {
    margin-top:-30px;
    font-size: 18px;
    max-width: 400px;
    color: #E5E7EB;
    font-weight: normal;
}

.introwrap button{
    margin-top:-5px;
    background-color: #3882F6;
    border:none;    
    border-radius: 4px;
    padding:5px 15px 5px 15px;
    max-width: 100px;
    color: #E5E7EB
}

.introsection img{
     margin-top: 100px;
    /*margin-left: 200px;
    margin-right: 200px; */
    flex: 1;
    min-width: 350px;
    max-width: 400px;
    height: auto;
}

.infobox {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.infobox p {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.infoboxes {
    /* Working horizontally as main axis */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 8em; */
    
}

.textunderbox{
    display: flex;
    justify-content: space-evenly;
    /* gap: 8em; */
    list-style: none;
}
.textunderbox > * {
    max-width: 180px;
    text-align: center;
}

.infoboxes > * {
    list-style: none;
    color: transparent;
    border: 5px solid blue;
    border-radius: 30px;
    line-height: 250px;

    max-width: 180px;
    max-height: 180px;
    /* background:blue; */
}

.quote{
    /* border: 4px solid lime; */
    padding: 80px;
    
    margin:-10px;
    background-color: #E5E7EB
    
}
.container_quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container_quote :nth-child(1){
    font-size: 36px;
    font-weight: 1;
    font-style: italic;
    max-width: 800px;
    color:#1F2937
    
}
.container_quote :nth-child(2){
    margin-left: 15em;
    font-size: 30px;
    align-self: center;
    font-weight: bolder;
}

.actioncall{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.containerTop{
    display: flex;
    margin:50px;
    background-color: #3882F6;
    padding: 15px 200px 15px 200px;
    gap: 100px;
    align-items: center;
    border-radius: 10px;
}

.container_action :nth-child(1){
    font-size: 20px;
    color: #F9FAF8;
}
.container_action :nth-child(2){
    all:none;
    line-height: 2px;
    font-size: 15px;
    color: #E5E7EB
}

.btn-secondary{
    margin-top:-5px;
    background-color: #3882F6;
    border:2px white solid;    
    border-radius: 10px;
    padding:5px 30px 5px 30px;
    max-width: 200px;
    color: #E5E7EB

}

footer{
   
    background-color: #1F2937;
    padding:30px 0px 30px 0px;
    margin-left:-10px;
    margin-right: -10px;
    margin-bottom: -10px;
    
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB
    
}

