@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    /* border: 4px solid lime; */
    /* box-sizing: border-box; */
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    color:#F9FAF8;
    font-size: 24px;
    padding-top: 20px;
    background: #1F2937;
    
    
}
.logo{
    
    padding-left: 100px;
   
}


.header_links a {
    color:#E5E7EB;
    text-decoration: none;
}

.header_links {
    
    display: flex;
    list-style: none;
    margin-right: 200px;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color:#E5E7EB;
}
.introsection{
    display: flex;
    gap: 150px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    
    padding-bottom: 100px;
    color: #F9FAF8;
    background: #1F2937;
}

.introwrap{
    /* border: 4px solid lime; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
}

.introwrap h2{
    margin-top: 100px;
    max-width: 400px;
    font-size: 48px;
    font-weight: bolder;
}

.introwrap p {
    margin-top:-30px;
    font-size: 18px;
    max-width: 400px;
    color: #E5E7EB;
    font-weight: normal;
}

.introwrap button{
    margin-top:-5px;
    background-color: #3882F6;
    border:none;    
    border-radius: 4px;
    padding:5px 15px 5px 15px;
    max-width: 100px;
    color: #E5E7EB
}

.introsection img{
     margin-top: 100px;
    /*margin-left: 200px;
    margin-right: 200px; */
    flex: 1;
    min-width: 350px;
    max-width: 400px;
    height: auto;
}

.infobox {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.infobox p {
    align-self: center;

}

.infoboxes{
    /* Working horizontally as main axis */
    display: flex;
    justify-content: space-evenly;
    
}

.infoboxes > * {
    list-style: none;
    color: white;
    border: 7px solid blue;
    border-radius: 50px;
    
    line-height: 250px;
    
    /* background:blue; */
}